.trabajos-contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 70vh;
	
}
.trabajos-contenedor span:nth-child(1){
	color: var(--black);
	font-size: 2rem;
	font-weight: bold;
}
.trabajos-contenedor span:nth-child(2){
	color: var(--morado);
	font-size: 2.5rem;
	font-weight: bold;
}

.trabajos-contenedor .swiper{
	overflow: visible !important;
}

.trabajos-contenedor-slider{
	margin-top: 3rem;
	width: 100%;
	/* height: 30rem;
	padding-bottom: 20rem; */
}
.trabajos-contenedor-slider .swiper-slide{
  width: 20rem;
  
}
.trabajos-contenedor img{
   width: 19rem;
   padding-bottom: 3rem;
   filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
   border-radius: 19px;
}

.trabajos-contenedor .swiper-pagination-bullet-active{
	background: var(--rosa);
	
}

@media screen and (max-width: 480px) {
	.trabajos-contenedor{
		height: 60vh;
	}
	.trabajos-contenedor span:nth-child(1){
		font-size: 1rem;
	}
	.trabajos-contenedor span:nth-child(2){
		font-size: 2rem;
	}
	
	.trabajos-contenedor-slider{
		margin-top: 3rem;
	}
	
	.trabajos-contenedor img{
	   width: 20rem;
	}
	
	
}