.header-contenedor{
    display: flex;
    height: 77vh;
    margin-top: 9rem;
}

.header-izquierda{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.header-nombre{
    display: flex;
    flex-direction: column;
}

.header-nombre>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.header-nombre>:nth-child(2){
    color: var(--morado);
    font-weight: bold;
    font-size: 3rem;
}

.header-nombre>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 14px;
    margin-top: .5rem;
}

.header-btn{
    width: 10rem;
    height: 2.5rem;
}

.header-iconos{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}

.header-iconos>*{
    transform: scale(0.5);
}
.header-iconos>*:hover{
    cursor: pointer;
}


.header-derecha{
    flex: 1;
    position: relative;
}

.header-derecha>*{
    position: absolute;
    z-index: 1;
}

.header-derecha>:nth-child(1){
    transform: scale(1.3);
    left: 2rem;
    top: -3rem;
}
.header-derecha>:nth-child(2){
    transform: scale(1.5);
    left: 3rem;
    top: -4rem;
}
.header-derecha>:nth-child(3){
    transform: scale(1);
    left: 7rem;
    top: -4rem;
}
.header-derecha>:nth-child(4){
    transform: scale(0.4);
    left: -2.5rem;
    top: -9rem;
}

.contenedor-div-flotante{
    top: -2rem;
    left: 23rem;
}

.contenedor-div-flotante-bien{
    top: 18rem;
    left: 5rem;
    border-radius: 50%;
    padding: 0;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
    top: -2rem;
    left: 56%;
}

.blur2{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #ffd0fb;
    filter: blur(72px);
    z-index: -9;
    top: 15rem;
    left: 5rem;
}

@media screen and (max-width: 480px) {
    .header-contenedor {
      flex-direction: column;
      gap: 7rem;
      height: 60rem;
    }
  
    .header-derecha {
      transform: scale(0.8);
      left: -4rem;
    }
    
    .contenedor-div-flotante:nth-of-type(1){
      /* display: none; */
      top: -10rem !important;;
    }

    .header-nombre>:nth-child(1){
        font-size: 2rem;
    }
    
    .header-nombre>:nth-child(2){
        font-size: 2rem;
    }
    
    .header-nombre>:nth-child(3){
        font-size: 15px;
        margin-top: .5rem;
    }

    .header-derecha>:nth-child(1){
        transform: scale(1.3);
        left: -7rem;
        top: -3rem;
    }
    .header-derecha>:nth-child(2){
        transform: scale(1.5);
        left: -7rem;
        top: -4rem;
    }
    .header-derecha>:nth-child(3){
        transform: scale(.9);
        left: 7rem;
        top: -4rem;
    }

    
    .contenedor-div-flotante{
        top: -2rem;
        left: 23rem;
    }
    
    .contenedor-div-flotante-bien{
        top: 25rem;
        left: 6rem;
    }
    
    
    .blur2{
        position: absolute;
        width: 22rem;
        height: 14rem;
        border-radius: 50%;
        background: #ffd0fb;
        filter: blur(72px);
        z-index: -9;
        top: 15rem;
        left: 5rem;
    }
  }