.nav-contenedor{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.nav-izquierda{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.nav-nombre{
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-nombre>img{
    width: 5rem;
    height: 5rem;
}

.nav-derecha{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.nav-lista{
    flex: 10;
}
.nav-lista>ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.nav-lista>ul> li {
    font-size: 1rem;
    cursor: pointer;
}

.nav-lista>ul:hover{
    cursor: pointer;
    color: var(--violet);
}

.nav-btn{
    flex: 2;
}
