.footer{
	display: flex;
	align-items: center;
	margin: -0.5rem -3.5rem;
	position: relative;
	margin-top: -7rem;
}

.f-contenedor{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-top: 10rem;
	gap: 2rem;
	color: white;
}

.f-iconos{
	display: flex;
	gap: 2rem;
}

@media screen and (max-width: 480px){
	.f-contenedor{
	  transform: scale(.9);
	}
	.footer{
		margin: -0.5rem -3.5rem;
		position: relative;
		margin-top: -5rem;
	}
	.f-contenedor{
		margin-top: 5rem;
		gap: 1rem;
		color: var(--black);
	}
	.f-contenedor>span{
		display: none;
	}
	.f-iconos{
		gap: 1rem;
		margin-bottom: 1rem;
		font-size: 1rem;
		
	}
	
  }