body {
  margin: 0;
  padding: 0;
}



    @font-face {
        font-family: Cunia;
        src: url('../src/assets/fonts/Cunia.otf');
    }
    *{
      font-family: "Cunia";
      font-weight: normal;
      font-size: 1.1rem;
    }
