.clientes-contenedor{
	padding: 0 3rem 0 3rem;
	display: flex;
	height: 90vh;
	margin-top: 4rem;
}

.clientes-derecho{
	position: relative;
}
.clientes-circulo-principal{
	left: 9rem;
	position: relative;
	width: 18rem;
	height: 18rem;
	border-radius: 100%;
	box-shadow: var(--boxShadow);
	top: 2rem;
	background: white;
}

.clientes-circulo-principal>*{
	position: absolute;
}

.clientes-circulo-principal > :nth-child(1){
	top: -3rem;
	left: 6rem;
}
.clientes-circulo-principal > :nth-child(2){
	top: 5rem;
	left: -3rem;
}
.clientes-circulo-principal > :nth-child(3){
	top: 5rem;
	left: 6rem;
}
.clientes-circulo-principal > :nth-child(4){
	top: 5rem;
	left: 15rem;
}
.clientes-circulo-principal> :nth-child(5){
	top: 13rem;
	left: 6rem;
}

.clientes-seccion-circulo{
	width: 6rem;
	height: 6rem;
	position: absolute;
	border-radius: 100%;
	border: 5px solid #ebebeb;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	box-shadow: var(--boxShadow);
	background: white;
}

.clientes-seccion-circulo > img{
	transform: scale(0.6);
}

.clientes-relleno-circulo{
	position: absolute;
	height: 13rem;
	width: 13rem;
	border-radius: 100%;
	z-index: -1;
}

.circulo-morado{
	background-color: var(--morado);
	left: 18rem;
	top: 0rem;
}
.circulo-celeste{
	background-color: var(--celeste);
	left: 18rem;
	top: 8rem;
}